.line:before,.flexUnit:before,.lastUnit:before,.section:before,.hnav:before,.clearfix:before,
header:before,hgroup:before,footer:before,section:before,nav:before,aside:before,article:before,details:before,
.line:after,.flexUnit:after,.lastUnit:after,.section:after,.hnav:after,.clearfix:after,
header:after,hgroup:after,footer:after,section:after,nav:after,aside:after,article:after,details:after
{display:table;content: " ";}
.line:after,.flexUnit:after,.lastUnit:after,.section:after,.hnav:after,.clearfix:after,
header:after,hgroup:after,footer:after,section:after,nav:after,aside:after,article:after,details:after
{clear:both;}
.left {float:left;}
.right {float:right;}
.flexUnit,.lastUnit {display:table-cell;*display:block;float:none;width:auto;}


body {
	background: black; box-sizing: border-box;
}

div {
	min-height: 20px;
}

/* text colors */
.white {color: #fff;}

/* size */
.c55 {width: 1100px; height: 680px;} /* container */
.s34 {width: 680px; height: 680px;}
.s21 {width: 420px; height: 420px;}
.s13 {width: 260px; height: 260px;}
.s8  {width: 160px; height: 160px;}
.s5  {width: 100px; height: 100px;} 
.c3  {width: 60px; height: 100px;} /* container */
.s3  {width: 60px; height: 60px;}
.s2  {width: 40px; height: 40px;}
.s1  {width: 20px; height: 20px;}

/* Daytime segment dominant colors */
.bluetone 	{background-color: #77c;}
.cyantone 	{background-color: #7cc;}
.greentone 	{background-color: #7c7;}
.yellowtone {background-color: #cc7;}
.redtone 	{background-color: #c77;}
.violettone {background-color: #c7c;}

.c55 div {
	box-sizing: border-box;
	border-top: 1px solid black;
	border-left: 1px solid black;
}
.noborder {border:0 !important;}
